#map {
    width: 100%;
    height: 700px;
}

#address-search-tab1 {
    width: 20%;
    height: 1em;
    margin-left: 10px
}

#search-address-button-tab1 {
    padding-top: 8px;
    color: #FFF;
    background-color: #119445;
    border-color: #555;
    width: 55px;
    margin-left: 18px;
    font-size: 15px;
    text-align: center;
}

#recycling_type,#risk_clusters {
    margin-left: 30px;
}